{{each(i, img) photo}}
	<label for="img-url-${i}">
		<img src="http://farm${img.farm}.static.flickr.com/${img.server}/${img.id}_${img.secret}_m.jpg" />
	</label>
	<input type="radio" name="img_url" id="img-url-${i}" value="http://farm${img.farm}.static.flickr.com/${img.server}/${img.id}_${img.secret}_m.jpg" />
{{/each}}