<form>
    <label for="alias">What shall we call you?</label>
    <input type="text" name="alias" id="alias" placeholder="Enter an alias..." value="" required />
    <button>Start Munitia</button>
</form>