<form class="ui-corner-all ui-body ui-body-c">
    <label for="alias">What shall we call you?</label>
    <input type="text" name="alias" id="alias" placeholder="Enter an alias..." value="" required />
    <button type="submit">Start Munitia</button>
</form>