<div class="notif hidden ui-bar ui-bar-e">
	<h3>${msg}</h3>
	<a data-role="button" data-icon="delete" data-iconpos="notext" data-corners="true" data-shadow="true" data-iconshadow="true" data-inline="true" data-wrapperels="span" title="Dismiss"></a>
</div>