<div class="question">
    <h3></h3>
    <img src="about:blank" alt="loading image..." />
    <ul data-role="listview"></ul>
    <a href="#questions" class="hidden" data-role="button">Next Question</a>
</div>