body { 
	background-color: #f0f0f0 !important;
	background-image: url("/images/logo.png"), -moz-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%) !important;
	background-image: url("/images/logo.png"), -webkit-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%) !important;
	background-image: url("/images/logo.png"), -o-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%) !important;
	background-image: url("/images/logo.png"), -ms-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%) !important;
	background-image: url("/images/logo.png"), radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

[data-role=page] { 
	background: none transparent;
}

.hidden { 
	opacity: 0;
}

.map { 
	display: block;
	width: 100%;
	max-width: 640px !important;
	height: 320px;
	margin: 0 auto;
}

.round h3, .round h4 {
	text-align: center;
}

.notif [data-role=button] {
	float: right;
	margin-top: 0.3em;
}

.notif h3 {
	margin: 0.6em 0 0;
}

/* Don't crop list button text with ellipsis, can't differentiate inbound/outbound */
.ui-li .ui-btn-text a.ui-link-inherit {
  white-space: normal;
}

.question { text-align: center; }
.question h3 { margin: 0 0 1em; }
.question .img-container { display: none; }
.question .active.img-container { display: block; }
.question .img { margin: 10px auto; width: 90%; height: 180px; background: none center center no-repeat; }
.question [data-role=listview] {
	margin: 1em 0;
}
.question li.red {
	background: red;
	color: white;
}
.question li.green {
	background: green;
	color: white;
}

form {
	display: block;
	padding: 15px !important;
}
form .ui-input-text {
	margin-bottom: 0.5em;
}
form .ui-btn {
	margin-top: 1em;
}

form [role=heading] {
	font-weight: bold;
	font-size: 18px;
}

.ui-input-search .ui-input-clear {
	margin: -19px -1px 0 0;
	height: 35px;
}

.ui-input-search .ui-input-clear .ui-icon {
	margin-top: -11px !important;
}

.control-group {
	margin-bottom: 2em !important;
}

.search-results {
	margin-bottom: 0.5em;
}

.search-results .ui-radio {
	width: 100%;
}

.search-results input {
	visibility: hidden;
}

#flickrimgs img {
	margin: 0 auto;
	display: block;
}