body { 
    background-color: #f0f0f0;
    background-image: url("/images/logo.png"), -moz-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%);
    background-image: url("/images/logo.png"), -webkit-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%);
    background-image: url("/images/logo.png"), -o-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%);
    background-image: url("/images/logo.png"), -ms-radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%);
    background-image: url("/images/logo.png"), radial-gradient(50% 50%, circle cover, #f0f0f0, #aaa 100%);
    background-position: center center;
    background-repeat: no-repeat;
}

[data-role=page] { 
    background: none transparent; 
}

.hidden { 
    opacity: 0; 
}

.map { 
    display: block; 
    width: 100%; 
    max-width: 640px !important; 
    height: 320px; 
    margin: 0 auto; 
}

.round h3, .round h4 {
    text-align: center;
}

.notif [data-role=button] {
    float: right;
    margin-top: 0.3em;
}

.notif h3 {
    margin: 0.6em 0 0;
}

.question { text-align: center; }
.question h3 { margin: 0 0 1em; }
.question img { margin: 0 auto; }
.question [data-role=listview] {
    margin: 1em 0;
}
.question li.red {
    background: red;
    color: white;
}
.question li.green {
    background: green;
    color: white;
}

form {
    display: block;
    padding: 15px !important;
}
form .ui-input-text {
    margin-bottom: 0.5em;
}
form .ui-btn {
    margin-top: 1em;
}

form [role=heading] {
    font-weight: bold;
    font-size: 18px;
}

#flickrimgs {
    margin-top: 1em;
}

#flickrimgs [data-role=button] {
    overflow: hidden;
}

#flickrimgs [data-role=button] input {
    visibility: hidden;
}

#flickrimgs label {
    height: 240px;
    width: 240px;
    border: none 0;
    background: none scroll no-repeat left center transparent;
    position: relative;
}

#flickrimgs label .ui-btn-inner {
    height: 9px;
}