<form method="get" id="login_form" action="http://local.api.munitia.com:8080/login">
<label for='username'>username</label><input id='username' type='text' name='username' chars='25'><br/>
<label for='password'>password</label><input id='password' type='password' name='password' chars='25'><br/>
<input id='login_submit' type="submit" value="Submit" />
</form>
<br/>

