<div data-role="page">
    <div data-role="header" data-position="inline">
        <a class="ui-btn-left hidden" data-rel="back" data-role="button" data-icon="arrow-l" data-iconpos="left"></a>
	    <h1 class="header"></h1>
	    <a  class="ui-btn-right hidden" data-role="button" data-icon="arrow-r" data-iconpos="right"></a>
    </div>
    <div class="content" data-role="content"></div>
    <div data-role="footer" data-position="fixed">
    	<div data-role="navbar">
            <ul>
        		<li><a class="nav" href="#lines" data-direction="reverse">Lines</a></li>
                <li><a class="nav" href="#invite">Invite</a></li>
        		<li><a class="nav" href="#leaders">Leaderboards</a></li>
        	</ul>
        </div>
	</div>
</div>