<div id="${id}" data-role="page">
	<div data-role="header" data-position="inline">
	    <a data-rel="back" data-direction="reverse" class="ui-btn-left back hidden" data-role="button" data-icon="arrow-l" data-iconpos="left"></a>
	    <h1 class="header"></h1>
		<a class="ui-btn-right forward hidden" data-role="button" data-icon="arrow-r" data-iconpos="right"></a>
	</div>
	<div class="content" data-role="content"></div>
	<div data-id="persist-footer" data-position="fixed" data-role="footer">
		<div data-role="navbar">
            <ul>
                <li><a class="nav" data-direction="reverse" href="#lines">Lines</a></li>
                <li><a class="nav" data-direction="reverse" href="#invite">Invite</a></li>
                <li><a class="nav" data-direction="reverse" href="#leaders">Leaderboards</a></li>
                <li><a class="nav" data-direction="reverse" href="#question">Q+</a></li>			
        	</ul>
        </div>
	</div>
</div>