<div class="question">
    <h3>${question}</h3>
    {{if img_url}}
        <img alt="loading image..." src="${img_url}" />
    {{/if}}
    <ul class="answers" data-role="listview">
        {{each(i, answer) answers}}
            <li><a href="#answer?selection=${i}">${answer}</a></li>
        {{/each}}
    </ul>
</div>