<ul data-role="listview">
    {{each(i, stop) stops}}
        <li data-role="list-divider">${stop}</li>
        {{each(j, line) stop.lines}}
            <li><a href="#round?stop=${i}&amp;line=${j}">${line.prettyName()}</a></li>
        {{/each}}
    {{/each}}    
</ul>