    Search terms
    <form method="get" action="/" name="searchform" id="searchform">
    <input type="text" name="search" width="30" id="searchval" />
    <input type="submit" name="search_submit" value="Search" />
    </form>
    <form method='get' id='newquestion_form' name='newquestion' action='http://local.munitia.com:8080/create_question'>
        <!-- flickr photos -->
        <div id="flickr_photos_content"></div>
        <!-- google places data -->
        <div id="google_places_content"></div>
    </form>




